.about__text1{
    font-family: fantasy;
    font-weight: 500;
    font-size: 90px;
    /* font-style: oblique; */
    margin-top: 120px;
    margin-left: 28%;
    color: blue;
}
.about__text2{
    font-family: fantasy;
    font-weight: 500;
    font-size: 55px;
    /* font-style: oblique; */
    margin-top: 10px;
    margin-left: 28%;
}
.about__text3{
    font-family:sans-serif;
    font-weight: 500;
    font-size: 30px;
    /* font-style: oblique; */
    margin-top: 18px;
    margin-left: 31%;
    color: blue;
}
.con{
    margin-top: 80px;
    text-shadow: 1px;
    font-weight: bolder;
    font-family: serif;
    margin-left: 31%;
}
.about__img{
    margin-right: 30px;
}