.tab{
    width: 100vw;
    height: 100vh;
    /* display:flex; */
    /* flex-direction: row; */
}
.user__table{
    width: calc(100% - 450px);
    height: calc(10% - 150px);
    margin-top: 10px;
    float: right;
}